@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto&display=swap');

/*
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    
    font-family: 'Roboto', sans-serif;
    
}

h3 {
    font-family: 'Allerta Stencil', sans-serif;
    color: #04bc89;
    
}

p {
    font-size: 1em;
    color:#0e4f58;
}

/*------------NAVBAR---------------*/

.body-index-color {
    background-color: #116661;
}

.navbar-bg-color {
    background-color: rgb(179, 9, 9);
}

#logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 4rem;
    margin-left: 3rem;
    float: left;
    
}


/*------------INTRODUCTION PAGE - INDEX.HTML---------------*/
.introduction-card {
    margin-top: 4.5rem;
    padding: 1.75rem;
    background-color: white;
    border-radius: 0.9rem;
}

.introduction-text {
    margin-top: 15px;
    margin-bottom: 30px;
}

.introduction-language {
    
}

.introduction-button {
    background-color: rgb(227, 248, 206);
}

.images-introduction-bottom {
    display: inline-block;
    }


.img-kettle {
    height: 8vh;
    margin-top: -35px;
    display: inline-block;
    position: relative;
}

.img-globe {
    height: 8vh;
    margin-top: -35px;
    display: inline-block;
    position: relative;
}

.img-apple {
    height: 8vh;
    margin-top: -35px;
    display: inline-block;
    position: relative;
}


.img-lamp {
    height: 200px;
    margin-top: -10px;
    position: relative;
}






/*------------GET READY--------------*/
.get-ready-body-color {
    background-color: whitesmoke;
}

.house-hero-picture {
    background-image: url("../images/main-house-horizontal.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}


.vocab-cards-both {
    margin-left: 20px;
}

.cards {
    background-color: white;
    border-radius: 0.9rem;
    color: #00aa7f;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;

}

.timer-lg {
    background-color: #116661c4;
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
    margin-top: 5px;
    padding: 0;
}

.timer-sm {
    background-color: #116661c4;
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
    margin-top: 2px;
    padding: 0;
}

.btn-go-to-game {
    background-color: #116661c4;
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
}

/*-------------------------GAME---*/

.btn-check-answers {
    background-color: #842029;
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
}

.instructions-game {
        background-color: #116661c4;
        font-family: 'Allerta Stencil', sans-serif;
        color: white;
        font-size: 15px;
        border-radius: 0.9rem;
        margin-top: 5px;
        padding: 0;
    }


/*-------------------------Media queries---*/

@media(max-width: 992px) {
    .house-hero-picture {
         max-height: 400px;

}

.vocab-cards-both {
    margin-left: 1px;
}

.cards {
    margin-left: 0;
}
}

/*
@media (max-width: 1295px) {
    .cards {
        font-size: 0.5vh;
    }
}*/

@media only screen and (max-width: 880px) {
#logo {
    font-size: 35px;
    margin-top: 2vw;
    margin-left: 1vw;
    }

.introduction-card {
    margin-top: 2vw;
    padding: 0.75vw;
    }

    .img-lamp {
        height: 10vw;
    }

    
  }

  @media(min-width: 700px) {
    .timer-sm {
        display: none;
    }
  }


  @media(max-width: 700px) {
    .img-lamp {
        height: 20vw;
    }

    .timer-lg {
        display: none;
    }
  }

  