@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto&display=swap');

/*
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    background-color: #04272c;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Allerta Stencil', sans-serif;
    color:rgb(75, 25, 25);
}

/*------------NAVBAR---------------*/

.navbar-bg-color {
    background-color: rgb(75, 25, 25);
}

#logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 300%;
    color: white;
}


/*------------INTRODUCTION TEXT---------------*/
.introduction-card {
    margin-top: 60px;
    padding: 20px;
    background-color: #f0f4f5;
    border-radius: 15px;
}

.introduction-text {
}

.introduction-button {
    
}

.img-chair {
    height: 5%;
    width: 5%;
    align-items: right;
}




/*------------HERO PICTURE-HOUSE--------------*/
.house-hero-picture {
    background-image: url("../images/shutterstock_282624269_smal.jpg");
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
}