@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto&display=swap');

/*
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    
    font-family: 'Roboto', sans-serif;
    
}

h3 {
    font-family: 'Allerta Stencil', sans-serif;
    color: #04bc89;
    
}

p {
    color: #ea515b;
    margin-bottom: 0;
}

.footer-index {
    font-family: 'Allerta Stencil', sans-serif;
    color: #FFFFFF;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

.footer-game {
    font-family: 'Allerta Stencil', sans-serif;
    color: #04bc89;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

.footer-icon {
    color: #FFFFFF;
    font-size: 0.6rem;
    margin-bottom: 1rem;  
}

.footer-g-icon {
    color: #04bc89;
    font-size: 0.6rem;
    margin-bottom: 1rem;  
}

.white-text {
    color: #FFFFFF;
}

/*------------NAVBAR---------------*/

.body-index-color {
    background-color: #116661;
}

.navbar-bg-color {
    background-color: rgb(179, 9, 9);
}

#logo {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 4rem;
    margin-left: 3rem;
    float: left;
    
}


/*------------INTRODUCTION PAGE - INDEX.HTML---------------*/
.introduction-card {
    margin-top: 4.5rem;
    padding: 1.75rem;
    background-color: #FFFFFF;
    border-radius: 0.9rem;
}

.introduction-text {
    margin-top: 15px;
    margin-bottom: 30px;
    color:#0e4f58;
}

.introduction-language {
    color:#0e4f58;
}

.introduction-button {
    background-color: rgb(227, 248, 206);
}

.images-introduction-bottom {
    display: inline-block;
    }


.img-kettle {
    height: 8vh;
    margin-top: -36px;
    display: inline-block;
    position: relative;
}

.img-globe {
    height: 9vh;
    margin-top: -34px;
    display: inline-block;
    position: relative;
}

.img-apple {
    height: 9vh;
    margin-top: -34px;
    display: inline-block;
    position: relative;
}

.img-cat {
    height: 9vh;
    margin-top: -34px;
    display: inline-block;
    position: relative; 
}


.img-lamp {
    height: 200px;
    margin-top: -10px;
    position: relative;
}






/*------------GET READY--------------*/
.get-ready-body-color {
    background-color: #f5f5f5;
}

.house-hero-picture {
    background-image: url("../images/main-house-horizontal.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}


.vocab-cards-both {
    margin-left: 20px;
}

.cards {
    background-color: #FFFFFF;
    border-radius: 0.9rem;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;

}

#timer-font-lg {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Allerta Stencil', sans-serif;
}

#timer-font-sm {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Allerta Stencil', sans-serif;
}

.timer-lg {
    background-color: #0a4b69;; 
    border-radius: 0.9rem;
    margin-top: 5px;
    padding: 0;
}

.timer-sm {
    background-color: #0a4b69;;
    font-family: 'Allerta Stencil', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 0.9rem;
    margin-top: 2px;
    padding: 0;
}

.btn-go-to-game {
    background-color: #0a4b69;;
    font-family: 'Allerta Stencil', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 0.9rem;
}

/*-------------------------GAME---*/
.house-hero-picture-game {
    background-image: url("../images/main-house-horizontal-erased.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#empty-postylka {
    position: absolute;
    top: 293px;
    left: 410px;
    height: 200px;
    width: 260px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

#empty-okno {
    position: absolute;
    top: 110px;
    left: 430px;
    height: 150px;
    width: 230px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

#empty-kocka {
    position: absolute;
    top: 10px;
    left: 200px;
    height: 100px;
    width: 200px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

#empty-zachod {
    position: absolute;
    top: 293px;
    left: 245px;
    height: 200px;
    width: 160px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

#empty-vaza {
    position: absolute;
    top: 550px;
    left: 125px;
    height: 80px;
    width: 180px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

#empty-lednice {
    position: absolute;
    top: 510px;
    left: 500px;
    height: 200px;
    width: 160px;
    background:rgb(179, 9, 9);
    z-index: 4;
}

.btn-check-answers {
    background-color: #842029;
    font-family: 'Allerta Stencil', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 0.9rem;
}

.instructions-game {
        background-color: #0a4b69;
        font-family: 'Allerta Stencil', sans-serif;
        color: #FFFFFF;
        font-size: 15px;
        border-radius: 0.9rem;
        margin-top: 5px;
        padding: 0;
    }


/*-------------------------Media queries---*/

@media(max-width: 992px) {
    .house-hero-picture {
         max-height: 400px;
}

.house-hero-picture-game {
    max-height: 400px;
}

.footer-hidden-sm {
    display: none;
}

.vocab-cards {
    margin-left: 1px;
}

.cards {
    margin-left: 0;
}
}

@media only screen and (max-width: 880px) {
#logo {
    font-size: 35px;
    margin-top: 2vw;
    margin-left: 1vw;
    }

.introduction-card {
    margin-top: 2vw;
    padding: 0.75vw;
    }

    .img-lamp {
        height: 10vw;
    }
  }

  
  @media(min-width: 768px) {
    .timer-sm {
        display: none;
    }
  }

  @media(max-width: 768px) {
    .timer-lg {
        display: none;
    }
  }


  @media(max-width: 700px) {

    body {
        height: 100vh;
    }

    
    .img-lamp {
        height: 20vw;
    }

    .images-introduction-bottom {
        margin-top: 1rem;
    }

    #motto {
        padding-top: 1rem;
     }

     .game-section {
         max-height: 400px;
     }

     
     
.introduction-card {
    padding-left: 1rem;
    padding-right: 1rem;
}
}

  @media(max-width: 340px) {
    .img-lamp {
        display: none;
    }
  }

  